/* Alignment classes */
.pull-right {float: right;}
.pull-left {float: left;}
.pull-center {margin-left: auto; margin-right: auto; display: block;}

/* Visibility classes */
.exf-promoted {font-weight: bold;}

/* Symfony Debugger */
.exception .container {width: auto !important;} 
pre.sf-dump {background: none !important; border: none !important;}
pre.sf-dump span.sf-dump-key {color: black !important;}
pre.sf-dump span.sf-dump-str {color: black !important;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}

/* Shell: custom header */
#exf_pagetitle {color: #346187}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB {height: 44px; padding: 0 0.5rem 0 0;}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB .sapMBtnIcon:before {font-size: 16px}
.exf-context-popup .sapMPanelContent {border-bottom: 0 !important}
/* Fix for vertical scroll bar due to 4px in shell container */
.sapUiUfdSpltContCntnt {overflow: hidden}
/* Announcements */
#exf-announcements .sapMLabel {margin: auto 10px;}
#exf-announcements .sapMLabel > .fa {min-width: 12px;}

#exf-loader {width: 100%; height: 100vh; background: white; position: absolute;}
.exf-launcher {position: relative; height: 100%; width: 100%;}

/* sap.m.Input */
/* fix for suggest-table being hidden the first time the phone-suggest-dialog opens 
- regardless of being empty or not */
.sapMDialog.sapMSuggestionsPopover .sapMInputSuggestionTableHidden {display: block !important}
/* make disabled inputs a little more vibrant */
.sapMInputBaseDisabledWrapper>.sapMInputBaseInner {color: black;}

/* RangeSpinnerFilter */
.exf-spinner-filter > div {margin-right: 0 !important}
.exf-spinner-filter .sapMBtnInner {border: .0625rem solid #89919a}
.exf-spinner-filter > div:first-of-type button {margin-right: -3px}
.exf-spinner-filter > div:last-of-type button {margin-left: -3px;}
.exf-spinner-filter > div:last-of-type {overflow: hidden}

/* sap.m.Table */
.sapMList.sapMListBGTranslucent.sapMListTblCnt {overflow-x: scroll}
.sapMTB-Info-CTX .sapMBtnTransparent>.sapMBtnIcon {color: #fff}
/* Fix for too narrow progress bars in mobile sap.m.Table */
.sapMListTblSubCntValInline > .sapMPI {min-width: 150px}
/* Fix missing border on navigatable sap.m.GroupHeaderListItem */
.sapMGHLICell + .sapMListTblNavCol { border-top: 2px solid #ccc !important; }
/* Fix misaligned text on smartphones if table inside an editable form */
.sapUiFormEdit .sapMListTblSubCnt .sapMText {min-height: inherit; padding-bottom: inherit; line-height: inherit;}
.sapUiFormEdit .sapMListTblCell .sapMText {min-height: inherit; padding-bottom: inherit; line-height: inherit; padding-top: inherit; } 
/* Fix to stretch InputSelect buttons to full width in mobile sap.m.Table */
.sapMListTblSubCntRow > .sapMListTblSubCntVal {width: 100%}
/* Move all values in mobile sap.m.Table to the left for better readability */
.sapMListTblSubCntRow > .sapMListTblSubCntVal span {text-align: start !important}


/* Panels */
.exf-panel-no-border > .sapMPanelContent {border-bottom: none;}

/* sap.m.List */
.sapMLIB.sapMSLIIcon {padding-left: 0;}

/* sap.m.GridList */
.sapFGridListDefault {padding: 0 0.5rem}
.sapFGridListDefault > .sapMLIB {max-width: 11rem;}

/* sap.f.DynamicPage */
.exf-page-heading-btn {margin-right: 0.2rem;}
.exf-page-heading-btn > span {height:1.25rem !important; margin-top: -0.063rem !important}
.exf-page-heading-btn > span > span {height:1.25rem !important; margin-top: -0.5rem !important}
.sapUiSizeCompact .exf-page-heading-btn > span {height:1.25rem !important; margin-top: 0rem !important}
.sapUiSizeCompact .exf-page-heading-btn > span > span {height:1.25rem !important;  margin-top: -0.188rem !important}
body:not(.sapUiSizeCompact) .sapFDynamicPageTitleMainHeadingInner .sapMTitle > span {line-height: 2.375rem}
/* Fix page header collaps button icon shifted to the right */
.sapUiSizeCompact .sapFDynamicPageToggleHeaderIndicator > .sapMBtnInner {padding-left: 0.2rem !important; padding-right: 0.2rem !important;}
/* noscroll for Scheduler and other widgets with internal scrolling */
.sapFDynamicPage.noscroll .sapMScrollBarOuterDiv {display: none;}
.sapFDynamicPage.noscroll .sapFDynamicPageContentWrapper {overflow: hidden!important;}

.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped>.sapFDynamicPageTitle {padding-bottom: 1.2rem;}
.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleWrapper>.sapFDynamicPageTitle .sapFDynamicPageTitleActionsBar {padding-right: 0;}
.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleWrapper>.sapFDynamicPageTitle .sapFDynamicPageTitleActionsBar > .sapMTB {padding-right: 0;}

/* LoginPrompt */
.exf-loginprompt-flexbox > div {max-width: 95%}
.sapMDialog .exf-loginprompt-flexbox > div {max-width: 100%; width: 100%}
.exf-loginprompt-panel > h2 {text-align: center; height: 4rem !important; line-height: 4rem !important; font-size: 1.2rem;}
.exf-loginprompt-panel > .sapMPanelContent {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;}

/* sap.m.P13nDialog */
.sapMP13nDialog > .sapMDialogResizeHandler {position: inherit}

/* Tiles */
.sapMTileCntContent .sapMFC.sapMTcInnerMarker {width: inherit !important;}
.sapMTileCntContent .sapMFCCTxt {overflow: visible !important;}
.sapMGT.exf-stretched .sapMTileCnt.sapMFrameTypeAuto {max-width: none;}
.sapMGT.exf-col-3 {width: calc(25% - 0.5rem)}
.sapMGT.exf-col-4 {width: calc(33% - 0.5rem)}
.sapMGT.exf-col-6 {width: calc(50% - 0.5rem)}
.sapMGT.exf-col-12 {width: 100%}
.sapMGT.OneByOne .sapMText .sapMTextMaxLine.sapMTextLineClamp {-webkit-line-clamp: 3 !important}
.sapMGT.OneByOne .sapMGTHdrTxt{
    overflow: inherit;
    display: inline-block;
}
.exf-icon-tile .sapMGTContent {margin-top: -40px}
.exf-tiles > .sapMPanelContent {border-bottom: none;}
.exf-tile {hyphens: auto;}
.exf-tiles > h2, .exf-panel > h2 {margin-top: 1rem;}
.exf-tile > .sapMGTHdrContent.OneByOne > .sapMGTSubHdrTxt > .sapMText {white-space: normal;max-height: 3rem;  display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;text-overflow: -o-ellipsis-lastline;}
/* Fix remove grayish background on busy-indicator in tile content */
.sapMTileCntContent > .sapMNC  > .sapUiLocalBusyIndicator {background-color: transparent;}
/* Fix to force 2-column tile menus even on phones with long narrow screens (centering on wider phones) */
html.sapUiMedia-Std-Phone .exf-tiles > .sapMPanelContent {padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; width: 23.5rem; max-width: 100%} 
/* Panels */
.exf-panel > .sapMPanelContent {border-bottom: none;}

/* Forms */
.sapUiFormTitle:empty {display: none;}
.exf-formcontainer-invisible {padding: 0 !important}
.exf-panel.exf-form-mixed-width .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM12 {padding: 0 0.75rem; box-sizing: border-box;}
.exf-panel.exf-form-mixed-width .sapUiRespGrid {padding-right: 0; padding-left: 0;}
.sapUiRespGrid > div > .sapMMsgStrip {margin: 0px !important;}

/* HTML widgets */
.exf-html {font-size: 0.875rem;}
.sapUiSimpleForm .exf-html h1 {font-size: 1.275rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h2 {font-size: 1.175rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h3 {font-size: 1.075rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h4 {font-size: 1.0rem; font-weight: normal;}

/* QRCode */
.qrcode > img {margin: 0 auto 10px auto;}

/* Image */
img.sapMImg:not(.sapUxAPObjectPageHeaderObjectImage) {display: block; max-width: 100%}

/* Temp. fixes for UI5 issues */
.sapMImageContentImageIcon.sapUiIcon {position: absolute; display: block;}
.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont>div .sapUiIcon.sapMImageContentImageIcon {font-size: 1.75rem}
/* Image and title in object page layout header to close to page header line in 1.67.1 */
.sapUxAPObjectPageHeaderContent {padding-top: 1rem;}
/* sap.m.Table group header rows barely different from striped rows */
.sapMGHLICell {padding: 0 1rem; border-top: 2px solid #ccc !important; font-weight: bold;}
/* Virtual touch-scrollbar gets too wide on Chrome (see ObjectPageLayout) */
.sapMScrollBarTouch > .sapMScrollBarInnerDiv {width: 0.75rem;}

/* jExcel */
.jexcel_container {width: 100%; padding: 0 !important;}
.jexcel_content {width: 100%; padding: 0 !important;}
table.jexcel {width: 100%; font-size: 0.875rem; border-color: rgb(229, 229, 229)}
table.jexcel.jexcel_overflow {border-top: none; border-left: none;}
.jexcel_row, .jexcel_selectall {padding-left: 5px !important; padding-right: 5px !important; max-width: 4em}
.jexcel>thead.footer>tr>td {background-color: white; font-weight: bold; border-top: 1px solid #666;}
.jexcel td {overflow: hidden; text-overflow: ellipsis;}
.jdropdown-container.slide-bottom-in {bottom: initial !important;}
.jexcel .editor > input {font-family: inherit; font-size: inherit; text-align: inherit !important; padding: 6px;}
/* jExcel style as UI5 tables */
table.jexcel > thead > tr > td {padding-left: 8px; padding-right: 8px; text-align: left !important; font-family: var(--sapFontFamily);}
table.jexcel > tbody > tr, table.jexcel > thead > tr {height: 33px;}
table.jexcel > tbody > tr.selected {background-color: #e5f0fa}
/* input cells: differentiate through darker borders */
table.jexcel > tbody > tr > td:not(:first-child):not(.readonly):not(.highlight-selected) {
    border-left-color: #666;
    border-bottom: 1.5px solid #666;
}
table.jexcel > tbody > tr > td:not(.readonly):not(.highlight-selected) + td.readonly {border-left-color: #89919a;}
table.jexcel > tbody > tr > td:last-child:not(.readonly):not(.highlight-selected) {border-right-color: #89919a}
table.jexcel > thead > tr > td {border-top-color: rgb(140, 140, 140); border-left-color: rgb(140, 140, 140); background-color: #dcdcdc;}
table.jexcel > tbody > tr > td.jexcel_row {background-color: #dcdcdc; border-top-color: rgb(140, 140, 140); border-left-color: rgb(140, 140, 140);}
/*table.jexcel > tbody > tr > td.readonly {color:inherit;}*/
table.jexcel td > input,
table.jexcel td > textarea {font-family: inherit;}
table.jexcel > tbody > tr > td.readonly > input[type=checkbox], 
table.jexcel > tbody > tr > td.readonly > input[type=radio] {opacity: 1;}
html.sapUiTheme-sap_fiori_3 table.jexcel td > textarea {padding-top: 10px !important; padding: 2px 4px; margin-bottom: -1px; margin-top: -1px;}

/* adjustments to allow opening dropdowns with single click */
table.jexcel > tbody > tr > td.jexcel_dropdown {
    position: relative; 
}

table.jexcel > tbody > tr > td.jexcel_dropdown::after  {
    content: '';
    position: absolute;
    right: 0px; 
    top: 0;
    width: 35px; 
    height: 100%;
}

/* mark hitbox on hover, class is set dynamically in JexcelTrait */
table.jexcel > tbody > tr > td.jexcel_dropdown.exf-dropdown-hitbox-hover:not(.readonly)::after  {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);  
}

/* flip arrow when dropdown is open */
table.jexcel .jdropdown-default.jdropdown-focus .jdropdown-header {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M7 10l5 5 5-5H7z' fill='gray' transform='rotate(180 12 12)'/%3E%3C/svg%3E");
}

/* dropdown in header should not have white background */
table.jexcel > thead .jdropdown{
    background-color: #dcdcdc;
}

/* replace filter icon */
table.jexcel .jexcel_column_filter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='darkgray'%3E%3Cg transform='translate(4.8 4.8) scale(0.6)'%3E%3Cpath d='M4.25 5.61C6.27 8.2 10 13 10 13v6c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-6s3.72-4.8 5.74-7.39A.998.998 0 0 0 18.95 4H5.04a1 1 0 0 0-.79 1.61z'/%3E%3C/g%3E%3C/svg%3E");
}

/* if wrapping is enabled for captions, hypenate and break lines */
.exf-wrap-captions table.jexcel > thead > tr > td:not(.jexcel_column_filter) {
    overflow: visible;
    overflow-wrap: normal;
    white-space: normal;
    vertical-align: text-top;
    hyphens: auto;
    padding-top: 4px !important;
}

/* .sapUiUfdSpltContPane:has(.sapTntSideNavigationNotExpanded) {
    width: 4rem !important;
}

.sapUiUfdSpltContCanvas:not(.exf-nav-expanded) {
    left: 4rem !important;
} */



/* contetx menu indicator above first cell in top left corner */
table.jexcel > thead > tr > td.jexcel_selectall:hover {
    background-color: #9c9c9c;
}

table.jexcel > thead > tr > td.jexcel_selectall::after {
    content: "...";
    position: absolute;
    right: 36%;
    top: 45%;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    pointer-events: none;
}

/* stop next cell from overlapping filter dropdown */
table.jexcel > thead > tr:last-child > td.jexcel_column_filter {
    position: inherit;
}

/* stripe dataspreadsheets */ 
.exf-stripe-table table.jexcel > tbody > tr:nth-child(even):not(.selected) {
    background-color: rgba(0, 0, 0, 0.04);
}

/* Border under header */
table.jexcel > thead > tr:last-child > td {border-bottom: 1px solid rgb(140, 140, 140);}

/* readonly: striped background and dotted/light borders */
table.jexcel > tbody > tr:not(.selected) > td.readonly:not(.highlight-selected) {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, rgba(0, 0, 0, 0.02) 4px, rgba(0, 0, 0, 0.02) 8px);
    border-top: 0px dashed #a7a7a74d;
    border-left: 1px solid #a7a7a74d; 
}

/* use disallowed cursor to differentiate readonly cells, but make text dark enough to read */
table.jexcel > tbody > tr > td.readonly {
    color: rgb(73, 73, 73);
    cursor: not-allowed;
}

table.jexcel > tbody > tr > td.jexcel_dropdown { background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M7 10l5 5 5-5H7z' fill='gray'/%3E%3C/svg%3E");}
table.jexcel > tbody > tr > td.jexcel_dropdown.readonly { background-image: none;}
.exf-spreadsheet-change {position: relative}
.exf-spreadsheet-change::before {content: "◤"; color: #89919a; font-size: 12px; position: absolute; left: 0; top: 0; margin-left: -2px; margin-top: -3px}
.exf-spreadsheet-invalid {background-color: #ffebeb;}
.exf-spreadsheet-invalid::before {color: #b00;}
.exf-spreadsheet-container { width: calc(100% - 10px)}
/* Make sure a cell dropdown does not "dive" under the next jexcel instance */
.sapUiTable.jexcel_container {position: static; z-index: initial;}

/* UI5DashBoard Widget GridContainer layout for columns*/
.dashboard_gridcontainer_layout {grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important; grid-auto-rows: auto !important;}
.sapFCardContent > .sapMPanel > .sapMPanelContent {border-bottom: 0 !important}
.dashboard_gridcontainer_gap_margin_bottom {margin-bottom: 10px !important}

/* Dialog */
.sapUxAPObjectPageSection.sapUiNoContentPadding > .sapUxAPObjectPageSectionContainer > .sapUxAPObjectPageSubSection > .sapUxAPBlockContainer {padding: 0;}
.sapUxAPObjectPageSection.sapUiNoContentPadding .sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1>.sapUiRespGridSpanS12:first-of-type {width: 100%}
.sapUxAPObjectPageSection.sapUiNoContentPadding .sapUiRespGrid:first-of-type {padding: 0;}
.sapUxAPObjectPageSection.sapUiNoContentPadding .sapUiRespGrid.sapUiRespGridHSpace1>div:first-of-type {margin: 0; width: 100%}
.sapUxAPObjectPageSection.sapUiNoContentPadding {margin-bottom: 1.5rem;}
.exf-dialog-page.exf-dialog-filled .sapUxAPObjectPageSection.sapUiNoContentPadding {margin-bottom: 0;}
.exf-dialog-page.exf-dialog-filled .sapUxAPObjectPageSection.sapUiNoContentPadding + .sapUxAPObjectPageSection.sapUiNoContentPadding {margin-top: 1rem;}
.exf-dialog-btn-header-collapse {position: absolute; right: 0; top: 0; margin-top: 0.75rem}
/* Dialog header with different controls */
.sapUxAPObjectPageHeaderContent .exf-label-horizontal > .sapUiHLayoutChildWrapper {min-height: 0; vertical-align: middle}
.sapUxAPObjectPageHeaderContent .exf-label-horizontal > .sapUiHLayoutChildWrapper > .sapMLabel {padding-right: 0.5rem}
.sapUxAPObjectPageHeaderContent .exf-label-horizontal > .sapUiHLayoutChildWrapper > .sapMPI {margin-bottom: 0rem}
.sapUxAPObjectPageHeaderContent .exf-label-horizontal > .sapUiHLayoutChildWrapper > .sapUiIcon  {vertical-align: inherit}
/* Custom margins for Text widgets in dialog header*/
.sapUxAPObjectPageHeaderContent .exf-label-horizontal.exf-label-for-text > .sapUiHLayoutChildWrapper:first-of-type {vertical-align: top}
.sapUxAPObjectPageHeaderContent .exf-label-horizontal.exf-label-for-text > .sapUiHLayoutChildWrapper:last-of-type {margin-top: 1px}
.sapUxAPObjectPageHeaderContent .exf-label-horizontal.exf-label-for-text,
.sapUxAPObjectPageHeaderContent .sapUiVltCell > .sapMFT {margin-top: 0.25rem}
/* TextHeading widgets in dialog headers*/
.sapUxAPObjectPageHeaderContent .sapMLabel.exf-textheading {vertical-align: middle}
/* Dialog with Split */
html.sapUiTheme-sap_horizon .sapUxAPObjectPageSectionContainer .sapUiLoSplitter.sapUiLoSplitterV > .sapUiLoSplitterBar {border-top-color:transparent; border-bottom-color: transparent;}
html.sapUiTheme-sap_horizon .sapUxAPObjectPageSectionContainer .sapUiLoSplitter.sapUiLoSplitterH > .sapUiLoSplitterBar {border-left-color: transparent; border-right-color: transparent;}
/* Dialog (non-max) */
html.sap-phone .sapMDialog {min-width: 20rem !important}
html.sap-tablet .sapMDialog, html.sap-desktop .sapMDialog {min-width: 25rem !important}
/* Dialog header for small dialogs */
.sapMDialog.exf-dialog-with-header:not(.sapMDialogWithSubHeader)>header:first-of-type .sapMIBar{box-shadow: none;}
.sapMDialog.exf-dialog-with-header .sapUxAPObjectPageHeaderContent {padding: 0.325rem 2rem 0 2rem; box-shadow: 0 0 0.25rem 0 rgb(0 0 0 / 15%), inset 0 -0.0625rem 0 0 #d9d9d9;}
/* Remove extra space at bottom of last WidgetGroup in a small dialog */
.sapMDialog .sapUiRespGrid > .sapUiRespGridSpanS12:last-of-type > .sapUiRGLContainer > .sapUiRGLContainerCont > .sapUiRespGrid:last-of-type {padding-bottom: 0;}

/* DataLookupDialog */
.sapMDialog > .sapMDialogSection > .sapMDialogScroll {height: 100%}
.sapMDialog .sapMVBox > .sapMFlexItemAlignAuto {height: 100%}
.exf-datalookup-tokenizer .sapMInputBaseIconContainer {display: none !important;}
.exf-datalookup .sapMPanelWrappingDivTb, .exf-datalookup .sapMPanelContent:not(.sapMPanelBGTransparent) {border: none !important;}

/* Textual busy overlays */
.exf-busy-text .sapUiLocalBusyIndicatorAnimation {display: none}
.exf-busy-text-content {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* Wizard */
.exf-wizard-step-hide-caption > .sapMWizardStepTitle {visibility: hidden; height: 0px; margin: 0;}
/* FIX next-button of mobile wizzards floating in the upper part of the screen - even if the wizard itself is not visible! */
html.sap-phone .sapMWizard .sapMWizardNextButtonVisible {position: relative !important; left: inherit !important; bottom: inherit !important;}

/* Map */
.exf-map {z-index: 0}
.exf-map-popup h3 {padding-left: 0}
.exf-map-popup-table > tbody > tr > td:nth-of-type(2) {font-weight: bold}
.exf-map-popup .exf-map-popup-table td {vertical-align: top;}
.exf-map-popup .exf-map-popup-table td:last-child {overflow-wrap: anywhere; word-break: break-word;}
.exf-map .extra-marker > i.fa-map-marker {margin-top: 8px !important;}
.exf-map .extra-marker > .exf-svg-icon > svg {height: 20px; margin-top: 8px; fill: white;}
.exf-map .leaflet-marker-icon.selected:not(.exf-map-point)::before {content: ''; display: block; width: 40px; height: 27px; -moz-border-radius: 7.5px; -webkit-border-radius: 7.5px; border-radius: 50%; border: 5px solid gray; position: absolute; top: 23px; left: -7px; z-index: -1;}
.exf-map .leaflet-marker-icon.selected.exf-map-point > div:first-of-type {border: 5px solid gray; margin-top: -5px; margin-left: -5px}
.exf-map-point-value {position: absolute; white-space: nowrap;}
.exf-map-point-center {transform: translate(-50%, -50%); top: 50%; left: 50%;}
.exf-map-point-left {transform: translate(-110%, -50%); top: 50%;}
.exf-map-point-right {transform: translate(20%, -50%); top:50%;}
.exf-map-point-top {transform: translate(-50%, -150%); left: 50%;}
.exf-map-point-bottom {transform: translate(-50%, 0%); left: 50%;}
.exf-map .marker-cluster {background-clip: padding-box; border-radius: 20px;}
.exf-map .marker-cluster div {width: 30px; height: 30px; margin-left: 5px; margin-top: 5px; color: white; text-align: center; border-radius: 15px;}
.exf-map .marker-cluster i {line-height: 30px;}
.exf-map-shape-title.leaflet-tooltip {background-color: transparent; border: none; box-shadow: none; font-weight: 600; text-shadow: 0 0 3px white;}
.exf-map-shape-selected {fill-opacity: 0.4; stroke-width: 2; stroke: rgb(8, 84, 160)}
.exf-map-shape-hover {fill-opacity: 0.4; stroke-width: 1; stroke: black}
.blinking-shape { animation: blinker 2s linear infinite; }
@keyframes blinker { 50% { opacity: 0; } }

/* Slick carousel: ImageGallery */
.slick-carousel.horizontal .slick-list {padding: 10px; box-sizing: border-box;}
.slick-carousel.horizontal .slick-list, 
.slick-carousel.horizontal .slick-track, 
.slick-carousel.horizontal .slick-slide, 
.slick-carousel.horizontal .slick-slide img {height: 100%}
.slick-carousel.horizontal .slick-slide {margin-left: 10px; box-sizing: border-box;}
.slick-carousel.horizontal .slick-prev.slick-arrow {left: 5px; z-index: 1;}
.slick-carousel.horizontal .slick-next.slick-arrow {right: 5px; z-index: 1;}
.slick-carousel.horizontal .slick-arrow:before {color: #404040}
.slick-carousel .slick-slide {overflow: hidden;}
.slick-carousel .slick-slide.selected {border: 5px solid #9cc8f7}
.slick-lightbox .slick-prev.slick-arrow {z-index: 1}
.imagecarousel-file {height: 100%; width: 180px; position: relative; background-color: #f5f5f5; cursor: pointer;}
.imagecarousel-file > i {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 200%}
.imagecarousel-title {bottom: 0; position: absolute; padding: 10px; font-size: 0.8rem; text-align: center; width: calc(100% - 20px);}
.imagecarousel-overlay {position: absolute; top: 0; width: 100%; height: 100%}
.imagecarousel-pending {position: relative; }
.imagecarousel-pending button {position: absolute; right: 0; bottom: 0; background: transparent; border: none; font-size: 2rem; opacity: .7; cursor: pointer;}
.imagecarousel-file {background-color: white; border: 1px solid rgb(217, 217, 217);}
.imagecarousel-nodata > .sapUiIcon::before {font-family: SAP-icons; content: "\e172";}

/* DataCarousel */
.exf-datacarousel-details {position: relative}
/* DataCarousel with tabs */
.exf-datacarousel-details > .sapMPanelContent > .sapMITB {margin-top: 30px;}
.exf-datacarousel-details > .sapMPanelContent > .sapMITB > .sapMITH {background-color: transparent;}

.exf-datacarousel-details > .sapUiBlockLayer,
.exf-datacarousel-details > .sapUiLocalBusyIndicator {
    background-color: rgb(247, 247, 247);
    z-index: 10;
}

/* within a datacarousel, mark the selected data row more strongly */
.exf-datacarousel-data-element .sapUiTableRowSel>.sapUiTableCell:first-child {
    box-shadow: inset 4px 0 0 var(--sapList_SelectionBorderColor);
}

    /* DocScanner */
.docScanner {aspect-ratio: 210 / 297; max-height: 100%; max-width: 100%; border: 1px solid #0854a0; box-sizing: border-box; margin: 10px; background-color: white;}
.docScannerUploader {display: none;}
.docScannerDialog .sapMDialogSection {background-color: lightgrey;}

/* Pad */
.exf-pad > .sapMPanelContent {border-bottom: 0 !important}

/* Display widgets in DialogHeader + ColorIndicator anywhere */
.sapMObjStatus {
    display: inline-flex;
    width: 100%; 
    vertical-align: top;   /* prevents alignment expansion (height would increase otherwise) */
    max-width: 100%;       /* limit overflow inside layout */
}

.sapMObjStatus .sapMObjStatusWrapper {
    max-width: 100%;
    min-width: 0;
}

/* manage the overflow properties here in the child object, to prevent 
the entire text from disappearing (...) if the text overflows */ 
.sapMObjStatus .sapMObjStatusText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    max-height: fit-content;
}

/* remove Progress Bar in FileList  */
.exfw-FileList .sapMUSProgressBox {
    display: none;
}


/* Split */
/* No padding for tables with header (DynamicPage contents) filling a split panel */
.sapUiLoSplitterContent > .sapUiNoContentPadding > .sapMPanelContent  > .sapFDynamicPage > .sapFDynamicPageContentWrapper > .sapFDynamicPageContent > .sapFDynamicPageContentFitContainer {padding: 0}

/* Fullscreen */
.fullscreen {position: fixed!important; top: 0; left: 0; padding: 0; width: 100vw!important; height: 100vh!important; background: rgba(255,255,255);}
.sapUiRespGrid.fullscreen > .sapUiRespGridSpanS12 {height: 100%}
/* Fullscreen Scheduler */
.fullscreen > .sapMITBContent {padding: 0; height: 100%; max-height: 100vh;}

/* SegmentedButtons */
.segmentedButtonsError {border-color: #b00 !important; border-width: 2px !important; color: #b00 !important;}

/* Gantt */
.exf-gantt .gantt-container {height: 100%; overflow-y: hidden;}
.exf-gantt .gantt .tick {stroke: #ddd}
.bar-folder {filter: drop-shadow(0px -3px 0px rgb(0 0 0 / 0.8))}

/* Scheduler */
/* Decrease height of sing-line rows */
.sapMPlanCal.halfHeight>.sapMList>table>tbody>tr>td>.sapUiCalendarRow:not(.sapMPlanCalRowLarge)>.sapUiCalendarRowApps {
    min-height: max(2rem, 100%);
}
.sapMPlanCal.halfHeight>.sapMList .sapMListTblCell.sapMPlanCalAppRow {height: inherit;}
.sapMPlanCal.halfHeight>.sapMList .sapMPlanCalAppRow>.sapUiCalendarRow {height: 100%}
/* Stick headers + scrolling */
.sapMPlanCal.sapMPCSticky > .sapMList > .sapMListInfoTBarContainer {top: 0 !important;} 
.sapMPlanCal.sapMPCSticky > .sapMList {overflow: auto;}
/* Nav buttons */
.sapMBtn.exf-scheduler-nav {position: absolute; padding: 0;}
.sapMBtn.exf-scheduler-nav > span {height: 100%}
.sapMBtn.exf-scheduler-nav > span > .sapMBtnIcon {margin-top:auto; margin-bottom:auto; color: transparent;}
.sapMBtn.exf-scheduler-nav:hover > span > .sapMBtnIcon {color: initial;}
.sapMBtn.exf-scheduler-navleft {left: -8px;}
.sapMBtn.exf-scheduler-navright {right: 0;}
.exf-scheduler-head-year {font-weight: bold}

/* SVG icons. Color filters computed via https://isotropic.co/tool/hex-color-to-css-filter/ */
.sapMBtn.exf-svg-icon > .sapMBtnInner > .sapMImg {height: 18px; margin-top: auto; margin-bottom: auto;}
.sapMBtn.exf-svg-icon > .sapMBtnInner > .sapMImg {filter:  invert(17%) sepia(90%) saturate(2858%) hue-rotate(198deg) brightness(92%) contrast(94%)}
.sapMBtn.exf-svg-icon > .sapMBtnInner.sapMBtnEmphasized > .sapMImg {filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(224deg) brightness(105%) contrast(103%);}
.sapMBtn.exf-svg-icon > .sapMBtnInner.sapMBtnActive > .sapMImg {filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(107%) contrast(101%);}
.sapMTileCntContent > .sapMImageContent > img {width: 1.75rem; padding-bottom: 0.6rem; padding-top: 0.075rem;}
/* SVG filter for color #5a7da0 */
.sapMTileCntContent > .sapMImageContent > img {filter: invert(47%) sepia(36%) saturate(427%) hue-rotate(169deg) brightness(92%) contrast(94%);}
.sapUiIcon.exf-svg-icon::before {padding-top: 1px; width: 16px; display: block; margin-left: auto; margin-right: auto;}
.sapUiTableCellInner > .sapUiIcon::before {padding-top: 2px}
/* SVG icon for sap.ui.table.Table columns */ 
.sapUiLbl.exf-svg-icon .sapUiLblIco {height: 18px; margin-top: auto; margin-bottom: auto;}
.sapUiLbl.exf-svg-icon:not(.exf-svg-colored) .sapUiLblIco {filter: brightness(0) saturate(100%) invert(19%) sepia(1%) saturate(3230%) hue-rotate(174deg) brightness(105%) contrast(97%);}
.sapUiLbl.exf-icon-only > img {margin-right: 0; height: 22px !important}

/* set placeholder icon invisible, if icon is css injected */
.exf-svg-icon[class^="exf-injected-icon"],
.exf-svg-icon[class*=" exf-injected-icon"] {
    color: transparent;
}

/* NavTiles IconTabBar */
.tileHeaderMarginTop {margin-top: 50px;}
.customHeader {box-shadow: none;}
.responsiveFlexbox {position: sticky; z-index: 1000; width: auto;}
@media (max-width: 966px) {
    .responsiveFlexbox {flex-direction: column;}
    .customSearchField {padding-left: 16px;padding-right: 16px;}
}

/* ColorPalette */
.exf-colorPalette {
    display: flex;
    margin: 0.5rem 0;
}

.exf-colorPalette.exf-colorPalette-Error {
    border: 0.125rem solid #b00;
    margin: 0.3rem 0;
    justify-content: center;
    width: 20px !important;
}
/* ui-5 upgrade fixes */

/* table width and table headings */
html.sapUiTheme-sap_fiori_3 .sapUxAPObjectPageSection .sapUxAPBlockContainer { padding: 0; }
html.sapUiTheme-sap_fiori_3 .sapUxAPObjectPageSectionTitle { border-bottom: .0625rem solid #0854a0; }
html.sapUiTheme-sap_fiori_3 .sapUxAPObjectPageSection { border-top: none; }
html.sapUiTheme-sap_fiori_3 .sapUxAPObjectPageSectionHeader { border-bottom: .0625rem solid #d9d9d9; }

/* navtiles margin to navbar */
html.sapUiTheme-sap_fiori_3 .exf-tiles > .sapMPanelHeadingDiv
{
  margin-top: 1rem;
}

/* panel title margin to navbar */
html.sapUiTheme-sap_fiori_3 .exf-panel .sapMPanelHdr{
  margin-top: 1rem;
}

/* context menu button styling */
html.sapUiTheme-sap_fiori_3 .sapMPopover .sapMBtnInner {
  border: none;
}

/* fix table background if not full width */
html.sapUiTheme-sap_fiori_3 .sapUiTableContentRow .sapUiTableCellDummy {
  background-color: var(--sapList_Background) !important;
}

/* if table has stripes, stripe dummy cells too  */
html.sapUiTheme-sap_fiori_3 .rowAlternate-true .sapUiTableCtrl tr:nth-child(even) .sapUiTableCellDummy,
html.sapUiTheme-sap_fiori_3 .sapMListTblRowAlternate .sapUiTableCtrl tr:nth-child(even) .sapUiTableCellDummy {
    background-color: var(--sapList_AlternatingBackground) !important;
}

/* Add alternate row coloring for sap.ui.table.Table (config in UI5DataTable.php)*/
html.sapUiTheme-sap_fiori_3 .rowAlternate-true .sapUiTableCtrl tr:nth-child(even) {
    background-color: var(--sapList_AlternatingBackground);
}

/* stripe split table rows */
/* todo check if configurable, and add blue selection border */
html.sapUiTheme-sap_fiori_3 .sapUiTableContentRow:nth-child(even) {
    background-color: var(--sapList_AlternatingBackground);
}

html.sapUiTheme-sap_fiori_3 .rowAlternate-true .sapUiTableCtrl .sapUiTableContentRow.sapUiTableRowSel{
    background-color: var(--sapList_SelectionBackgroundColor);
}

html.sapUiTheme-sap_fiori_3 .sapUiTableContentRow.sapUiTableRowSel {
    background-color: var(--sapList_SelectionBackgroundColor);
}

html.sapUiTheme-sap_fiori_3 .sapUiTableHeaderCell {
    background-color: var(--sapList_BorderColor);
}

/* allow table selection on stripes (blue highlight) */
html.sapUiTheme-sap_fiori_3 .rowAlternate-true .sapUiTableCtrl .sapUiTableContentRow.sapUiTableRowSel{
    background-color: var(--sapList_SelectionBackgroundColor);
}

/* make table header background darker */
html.sapUiTheme-sap_fiori_3 .rowAlternate-true .sapUiTableHeaderRow {
    background-color: var(--sapList_BorderColor);
}

html.sapUiTheme-sap_fiori_3 .sapMTableTH {
    background-color: var(--sapList_BorderColor);
}

/* set header content darker */
html.sapUiTheme-sap_fiori_3 .sapUxAPObjectPageContainer .sapMObjStatusNone:not(.sapMObjStatusInverted) .sapMObjStatusText, .sapUxAPObjectPageHeaderContentItem .sapMObjStatusNone:not(.sapMObjStatusInverted) .sapMObjStatusText, .sapMObjStatusNone:not(.sapMObjStatusInverted).sapUxAPObjectPageHeaderContentItem .sapMObjStatusText, .sapUxAPObjectPageHeaderDetails .sapFDynamicPageHeaderContent .sapMObjStatusNone:not(.sapMObjStatusInverted) .sapMObjStatusText, .sapUxAPObjectPageContainer .sapMObjStatusNone:not(.sapMObjStatusInverted) .sapMObjStatusIcon, .sapUxAPObjectPageHeaderContentItem .sapMObjStatusNone:not(.sapMObjStatusInverted) .sapMObjStatusIcon, .sapMObjStatusNone:not(.sapMObjStatusInverted).sapUxAPObjectPageHeaderContentItem .sapMObjStatusIcon, .sapUxAPObjectPageHeaderDetails .sapFDynamicPageHeaderContent .sapMObjStatusNone:not(.sapMObjStatusInverted) .sapMObjStatusIcon {
    color: var(--sapTextColor);
}

/* CHANGES AFTER UI5 UPGRADE */

/* fix custom colors background */
.exf-custom-color .sapMObjStatusWrapper .sapMObjStatusText{
    border-radius: var(--sapElement_BorderCornerRadius);
    color: inherit;
    text-shadow: none;
    display: inline-block;
}

 .exf-custom-color .sapMObjStatusWrapper {
    background-color: transparent !important;
}

.sapMPIBarNeutral .sapMPIText.sapMPITextLeft {
    color: #fff !important;
}

/* HORIZON THEME CHANGES */

/* progress bar */

/* remove semantic icons */
html[class*="sapUiTheme-sap_horizon"] .sapMPIBar::before{
    display: none;
}


html[class*="sapUiTheme-sap_horizon"] .sapMPI {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    box-sizing: border-box;
    outline: none;
    background: #ffffff00;
    min-height: 1.2rem;
    padding: 0;
    border: 1px solid var(--sapProgress_BorderColor); 
    border-radius: 0.6rem;
    overflow: hidden;
}

/* remove semantic border color */
html[class*="sapUiTheme-sap_horizon"] :is(.sapMPIBarNegative, .sapMPIBarCritical, .sapMPIBarPositive, .sapMPIBarNeutral) 
+ .sapMPIBarRemaining {
    border-color: transparent;
}

/* set text color white for semanitc red background in progressbars */
html[class*="sapUiTheme-sap_horizon"] .sapMPIBarNegative .sapMPIText.sapMPITextLeft {
    color: #fff;
}

html[class*="sapUiTheme-sap_horizon"] .sapMPIBar {
    margin-top: 0;
    height: 100%;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

html[class*="sapUiTheme-sap_horizon"] .sapMPIDisplayOnly .sapMPIText,
html[class*="sapUiTheme-sap_horizon"] .sapMPIText {
    padding: 0;
    position: static;
    top: 0.125rem;
    left: 0;
    margin-bottom: 0;
    font-size: var(--sapFontSmallSize);
    color: var(--sapProgress_TextColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%
}

html[class*="sapUiTheme-sap_horizon"] .sapMPIDisplayOnly .sapMPIText.sapMPITextRight,
html[class*="sapUiTheme-sap_horizon"] .sapMPIText.sapMPITextRight {
    padding: 0;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
    top: 0;
    right: 0;
}

/* remove progress bar dot */
html[class*="sapUiTheme-sap_horizon"] .sapMPIBarRemaining::after {
    display: none;
}

html.sapUiTheme-sap_horizon .sapMPIDisplayOnly:not(.sapMPIBarDisabled) .sapMPIBarNeutral+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon .sapMPIBarNeutral+.sapMPIBarRemaining {
    background-color: var(--sapBackgroundColor);
}

html.sapUiTheme-sap_horizon .sapMPIBarPositive+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon .sapMPIBarNeutral+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon .sapMPIBarNegative+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon .sapMPIBarCritical+.sapMPIBarRemaining {
    background-color: var(--sapBackgroundColor);
}

/* progress bar backgrounds */
html[class*="sapUiTheme-sap_horizon"] .sapMPI .sapMPIBarRemaining {
    height: 1.2rem;
}

html[class*="sapUiTheme-sap_horizon"] .sapMPI  .sapMPIBarRemaining {
    position: static;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

html[class*="sapUiTheme-sap_horizon"] .sapMPIBarPositive .sapMPIText.sapMPITextLeft {
    color: #fff;
}

html[class*="sapUiTheme-sap_horizon"] .sapMPIBarCritical .sapMPIText.sapMPITextLeft {
    color: #fff;
}

html[class*="sapUiTheme-sap_horizon"] .sapMPITextLeft, 
html[class*="sapUiTheme-sap_horizon"]  .sapMPITextRight {
    padding: 0;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

html[class*="sapUiTheme-sap_horizon"]  .sapMPIDisplayOnly:not(.sapMPIBarDisabled) .sapMPIBarNeutral+.sapMPIBarRemaining::after, .sapMPIBarNeutral+.sapMPIBarRemaining::after, .sapMPIDisplayOnly:not(.sapMPIBarDisabled) .sapMPIBarNeutral+.sapMPIBarRemaining::before, .sapMPIBarNeutral+.sapMPIBarRemaining::before {
    background: none;
}

/* progress bar end */

/* color/status items */

html[class*="sapUiTheme-sap_horizon"] .sapMObjStatusWrapper .sapMObjStatusText {
    border-radius: var(--sapField_BorderCornerRadius);
}

html[class*="sapUiTheme-sap_horizon"]  .sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusWrapper {
    border-color: transparent;
    background-color: var(--sapActiveColor);
}

html[class*="sapUiTheme-sap_horizon"]  .sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusText, .sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusIcon {
    text-shadow: none;
    color: inherit;
}

/* color/status items end*/

/* icons are now darker, so adapt filter here */
.sapMTileCntContent > .sapMImageContent > img {
    filter:  brightness(0) saturate(100%) invert(39%) sepia(16%) saturate(752%) hue-rotate(170deg) brightness(98%) contrast(90%);
}
 

/* tile menu drop shadow on hover */
html[class*="sapUiTheme-sap_horizon"] .sapMGT:hover:not(.sapMGTPressActive) {
    box-shadow: var(--sapContent_Shadow0) !important;
    background-color: var(--sapTile_Hover_Background);
}

/* Tab "bubbles" in ObjectPageLayout */
html[class*="sapUiTheme-sap_horizon"] .sapUxAPObjectPageSection .sapUiTableCCnt {border-bottom: none;}

/* Split inside a tab in ObjectPageLayout */
html[class*="sapUiTheme-sap_horizon"] .sapUxAPObjectPageSection.exf-tab-split .sapUxAPObjectPageSectionContainer .sapUxAPObjectPageSubSection .sapUxAPBlockContainer {padding-bottom: 0; padding-top: 0}
/* Splits inside ObjectPageLayout as sections/tabs */
html[class*="sapUiTheme-sap_horizon"] .sapUiLoSplitter>.sapUiLoSplitterBar {background-color: var(--sapBaseColor);}
html[class*="sapUiTheme-sap_horizon"] .sapUiLoSplitterH > .sapUiLoSplitterContent:first-of-type .sapMPanel {border-top-right-radius: 0; border-bottom-right-radius: 0;}
html[class*="sapUiTheme-sap_horizon"] .sapUiLoSplitterH > .sapUiLoSplitterContent:last-of-type .sapMPanel {border-top-left-radius: 0; border-bottom-left-radius: 0;}

/* context menu button styling */
html[class*="sapUiTheme-sap_horizon"] .sapMPopover .sapMBtnInner {
  border: none;
}

/* if table has stripes, stripe dummy cells too  */
html[class*="sapUiTheme-sap_horizon"] .rowAlternate-true .sapUiTableCtrl tr:nth-child(even) .sapUiTableCellDummy,
html[class*="sapUiTheme-sap_horizon"] .sapMListTblRowAlternate .sapUiTableCtrl tr:nth-child(even) .sapUiTableCellDummy {
    background-color: var(--sapList_AlternatingBackground) !important;
}

/* make the dummy cell border less dark */
html[class*="sapUiTheme-sap_horizon"] .sapUiTableCellDummy {
    border-left: .0625rem solid #c2c2c2;
}

/* Add alternate row coloring for sap.ui.table.Table (config in UI5DataTable.php)*/
html[class*="sapUiTheme-sap_horizon"] .rowAlternate-true .sapUiTableCtrl tr:nth-child(even) {
    background-color: var(--sapList_AlternatingBackground);
}

/* stripe split table rows */
/* todo: check if configurable, and add blue selection border */
html[class*="sapUiTheme-sap_horizon"] .sapUiTableContentRow:nth-child(even) {
    background-color: var(--sapList_AlternatingBackground);
}

html[class*="sapUiTheme-sap_horizon"] .rowAlternate-true .sapUiTableCtrl .sapUiTableContentRow.sapUiTableRowSel{
    background-color: var(--sapList_SelectionBackgroundColor);
}

html[class*="sapUiTheme-sap_horizon"] .sapUiTableContentRow.sapUiTableRowSel {
    background-color: var(--sapList_SelectionBackgroundColor);
}
/* allow table selection on stripes (blue highlight) */

html[class*="sapUiTheme-sap_horizon"] .rowAlternate-true .sapUiTableCtrl .sapUiTableContentRow.sapUiTableRowSel{
    background-color: var(--sapList_SelectionBackgroundColor);
}

/* make table header background darker */
html[class*="sapUiTheme-sap_horizon"] .sapUiTableHeaderCell {
    /* background-color: var(--sapContent_Illustrative_Color6); #eff1f2; */
    /* background-color: var(--sapList_BorderColor); c6ebff*/
    background-color: var(--sapList_BorderColor);
}

html[class*="sapUiTheme-sap_horizon"] .rowAlternate-true .sapUiTableHeaderRow {
    background-color: var(--sapList_BorderColor);
}

html[class*="sapUiTheme-sap_horizon"] .sapMTableTH {
    background-color: var(--sapList_BorderColor);
}

/* detail view heading less bold */
html[class*="sapUiTheme-sap_horizon"] h2.sapUxAPObjectPageHeaderIdentifierTitle, h2.sapUxAPObjectPageHeaderIdentifierTitleForce {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
}

/* header content dividers */
html[class*="sapUiTheme-sap_horizon"] .sapUxAPObjectPageHeaderContent div.sapUxAPObjectPageHeaderContentItem {
    border-left: 2px solid var(--sapList_BorderColor);
    margin-right: 1rem;
    padding-left: 1rem;
}

/* header font styling */ 
html[class*="sapUiTheme-sap_horizon"] header .sapMObjStatus>.sapMObjStatusTitle, html.sapUiTheme-sap_horizon header .sapUxAPObjectPageHeaderDetails .sapMLabel {
    font-weight: normal;
}

html[class*="sapUiTheme-sap_horizon"] header .sapMObjStatus {
    font-weight: bold;
    color: var(--sapNeutralTextColor);
}

html[class*="sapUiTheme-sap_horizon"] header .sapMPIText {
    font-weight: bold;
}

/* dont add padding for the login prompt */
html[class*="sapUiTheme-sap_horizon"] .exf-loginprompt-panel .sapMITBHead,
html[class*="sapUiTheme-sap_horizon"] .exf-loginprompt-panel .sapMITHEndOverflow {
    padding-top: 0 !important;
}

/* widget bubbles border */
html[class*="sapUiTheme-sap_horizon"]  .sapUxAPObjectPageSection .sapUxAPObjectPageSectionContainer .sapUxAPObjectPageSubSection .sapUxAPBlockContainer {
    box-shadow: 0 0 .125rem 0 rgba(34, 53, 72, 0.1), 0 .125rem .25rem 0 rgba(34, 53, 72, 0.1);
}

/* make pagination less bold */
html[class*="sapUiTheme-sap_horizon"] [data-sap-ui*="DataPaginator"] bdi {
    font-family: Arial, Helvetica, sans-serif;
}

/* nav-tiles background */
html[class*="sapUiTheme-sap_horizon"] .exf-tiles .sapMPanelBGTranslucent, 
html[class*="sapUiTheme-sap_horizon"] .exf-tiles .sapMPanelHeadingDiv>.sapMPanelHdr,
html[class*="sapUiTheme-sap_horizon"] .exf-navtiles .sapMPanelContent {
    background-color:  var(--sapBackgroundColor);
}

/* remove background inside pad */
html[class*="sapUiTheme-sap_horizon"] .exf-pad  .sapMPanelBGTranslucent {
    background-color: transparent; 
}

 /* remove the darker tiles background for landing page with other widgets */
html[class*="sapUiTheme-sap_horizon"] .exfw-Container .exf-tiles .sapMPanelBGTranslucent {
    background-color:  var(--sapGroup_ContentBackground);
}

/* make datacarousel empty indicator match normal background */
html[class*="sapUiTheme-sap_horizon"] .exf-datacarousel-details > .sapUiBlockLayer, 
html[class*="sapUiTheme-sap_horizon"] .exf-datacarousel-details > .sapUiLocalBusyIndicator {
    background-color: var(--sapTab_Background);
}


/* Data widgets */
html[class*="sapUiTheme-sap_horizon"] .sapMLabel.exf-paginator-position {font-weight: normal; font-family: var(--sapFontFamily);}

/* Login prompt */
html[class*="sapUiTheme-sap_horizon"] .exf-loginprompt-panel .sapMPanelContent {border: none;}
html[class*="sapUiTheme-sap_horizon"] .exf-loginprompt-panel .sapMITBContent {background-color: var(--sapObjectHeader_Background); border-bottom: none;}
html[class*="sapUiTheme-sap_horizon"] .exf-loginprompt-panel .sapMPanelHdr {height: 3rem !important; line-height: 3rem !important; text-align: center;}
html[class*="sapUiTheme-sap_horizon"] .exf-loginprompt-panel {
    box-shadow: var(--sapContent_Shadow0);
}

/* account popup */
html[class*="sapUiTheme-sap_horizon"] .sapMInputBaseDisabledWrapper>.sapMInputBaseInner{
    color: var(--sapTextColor);
}

/* fix overflow issue in inputcombotable popups */
html[class*="sapUiTheme-sap_horizon"] [id$="-popup-table"].sapMList.sapMListBGTranslucent.sapMListTblCnt {
    overflow-x: unset;
}

/* make focus around sections less intense */ 
html[class*="sapUiTheme-sap_horizon"] .sapUxAPObjectPageSection:focus::before {
    border: .125rem dotted #00000050;
}


/* DARK MODE SPECIFIC CHANGES */
/* progress bar */
html.sapUiTheme-sap_horizon_dark .sapMPI {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    box-sizing: border-box;
    outline: none;
    background: #ffffff00;
    min-height: 1rem;
    padding: 0;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
}

html.sapUiTheme-sap_horizon_dark .sapMPIDisplayOnly:not(.sapMPIBarDisabled) .sapMPIBarNeutral+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon_dark .sapMPIBarNeutral+.sapMPIBarRemaining {
    background-color: #ffffff20;
}

html.sapUiTheme-sap_horizon_dark .sapMPIBarPositive+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon_dark .sapMPIBarNeutral+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon_dark .sapMPIBarNegative+.sapMPIBarRemaining, 
html.sapUiTheme-sap_horizon_dark .sapMPIBarCritical+.sapMPIBarRemaining {
    background-color: #ffffff20;
    border-color: #89919a;;
}

/* progress bar text left */
html.sapUiTheme-sap_horizon_dark .sapMPIDisplayOnly:not(.sapMPIBarDisabled) .sapMPIBarNeutral .sapMPIText.sapMPITextLeft, 
html.sapUiTheme-sap_horizon_dark .sapMPIBarNeutral .sapMPIText.sapMPITextLeft{
    color: var(--sapButton_Success_TextColor);
}

html.sapUiTheme-sap_horizon_dark .sapMBtn.exf-svg-icon > .sapMBtnInner > .sapMImg {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

html.sapUiTheme-sap_horizon_dark .sapMTileCntContent > .sapMImageContent > img {
    filter: invert(50%) sepia(10%) saturate(500%) hue-rotate(165deg) brightness(100%) contrast(100%);
}

.exf-sidebar {border-left: 1px solid var(--sapGroup_TitleBorderColor)}